PROJECT_ENDPOINT="https://ai-103-demos-resource.services.ai.azure.com/api/projects/ai-103-demos"
MODEL_DEPLOYMENT_NAME="gpt-5.4"
ROUTING_MODEL_DEPLOYMENT_NAME="gpt-5.2"
SERVER_URL="localhost"
ROUTING_AGENT_PORT=10009
SEGMENT_AGENT_PORT=10008
TITLE_AGENT_PORT=10007
